@charset "utf-8";
/* 초기화 */
html,header,div,body,nav,section,aside,article,footer,figure,
figcaption,legend,ul,ol,li,dl,dt,dd,h1,h2,h3,p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
fieldset {
    border: 0;
}
/* 숨김 컨텐츠 */
.hidden, legend, caption {
    position: absolute;
    left: -9999px;
}
/* 웹 폰트 */
@font-face {
    font-family: "Nanum";
    font-weight: 400;
    src: url("font/NanumGothic.eot?#iefix")format("embeded-opentype"),
        url("font/NanumGothic.woff")format("woff"),
        url("font/NanumGothic.ttf")format("truetype");
}

@font-face {
    font-family: "NanumBold";
    font-weight: 600;
    src: url("font/NanumGothicBold.eot?#iefix") format("embeded-opentype"),
        url("font/NanumGothicBold.woff") format("woff"),
        url("font/NanumGothicBold.ttf") format("truetype");
}

@font-face {
    font-family: "NanumEX";
    font-weight: 900;
    src: url("font/NanumGothicExtraBold.eot?#iefix") format("embeded-opentype"),
        url("font/NanumGothicExtraBold.woff") format("woff"),
        url("font/NanumGothicExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "webcafeIcon";
    font-weight: 400;
    src: url("font/webcafeIcon.eot?#iefix") format("embeded-opentype"),
        url("font/webcafeIcon.woff") format("woff"),
        url("font/webcafeIcon.ttf") format("truetype"),
        url("font/webcafeIcon.svg#webcaferegular") format("svg");
}

/* 링크 스타일 */

a:link {
    color: #4f4f4f;
    text-decoration: none;
}
a:visited {
    color: #8a8e91;
    text-decoration: none;
}
a:hover,a:focus {
    color: red;
    text-decoration: none;
}

/* 기본 스타일 */
body {
    font-family: "Nanum";
    color: black;
    background-color: #fff;
    font-size: 0.75em;/* 12px */
    line-height: 1.2;
}

/* 건너뛰기 링크 */
#skipNav {
    position: absolute;
    left: -9999px;
}
#skipNav:focus {
    left: 50%;
    margin: 3px 0 0 -3px;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    outline: 0;
    z-index: 10;
}
/* 전체적인 레이아웃 설계 */
header, #visual,#contentsArea,#slogan,#footer_inner {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

#wrapper {
    background-color: #fff;
    background-image: url('images/bg_flower.png'),
                      linear-gradient(to bottom, #c7c7c7 0%, #fff 70%, #fff 100%);
    background-repeat: no-repeat;
    background-position: center top;
}
/* 전체적인 레이아웃 설계 */
/* 헤더 영역 시작 */
header {
    height: 110px;
    position: relative;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
}
.logo img {
    position: absolute;
    width: 220px;
    height: 44px;
    top: 30px;
    left: 30px;
}

.info_link {
    text-align: right;
}
.info_link > li {
    display: inline-block;
    padding: 8px 0 7px 3px;
}
.info_link a::before {
    content: ":";
    padding-right: 8px;
}
.info_link > li:first-child a::before {
    content: "";
}
.main_menu {
    background-image: linear-gradient(to bottom, #ffc848 0%, #ff8208 40%, #ffc848 100% );
    padding-left: 220px;
    height: 45px;
    border-top: 2px solid #000;
    border-radius: 0 0 5px 5px;
}
.main_menu > li {
    position: relative;
}
.main_menu li, .main_menu a {
    display: inline-block;
}
.main_menu > li > a {
    font-family: "NanumEX";
    font-size: 1.2em;
    padding: 15px 20px 14px;
    color: #fff;
    letter-spacing: 1px;
    border-left: 1px solid #fff;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.2),
                 -1px 0 0 rgba(0, 0, 0, 0.2),
                 0 1px 0 rgba(0, 0, 0, 0.2),
                 0 -1px 0 rgba(0, 0, 0, 0.2) ;
}
.main_menu > li > a:hover, .main_menu > li > a:focus {
    color: #ff0;
}
.main_menu > li > a:hover::after, .main_menu > li > a:focus::after {
    content: "";
    display: block;
    background: #000;
    height: 2px;
    width: 100%;
    position: relative;
    top: 12px;
}
.main_menu > li:hover ul {
    display: block;
}
.main_menu ul {
    position: absolute;
    z-index: 10;
    white-space: nowrap;
}
.main_menu ul a {
    padding: 8px 0 7px 15px;
}
.main_menu ul a::before {
    content: "r";
    font-family: "webcafeIcon";
    color: #666;
    position: relative;
    top: 2px;
}
.main_menu ul a:hover::before, .main_menu ul a:focus::before {
    content: "c";
    color: red;
}
.aboutHTML {
    display: none;
}
.aboutCSS {
    display: none;
}
.webStandard {
    display: none;
}
.webAccess {
    display: none;
    left: -100px;
}
.qna {
    display: none;
    left: -150px;
}
.archive {
    display: none;
    right: 0;
}
/* 헤더 영역 종료 */
/* 비주얼 영역 시작 */
#visual {
    height: 120px;
    position: relative;
}
#visual p {
    position: absolute;
    font-family: Georgia, serif;
    font-size: 2em;
    font-weight: bold;
    top: 75px;
    left: 400px;
    animation: textAni 1s;
}
#visual::before,#visual::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 140px;
    animation: flowerAni 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#visual::before{
    background-image: url(images/ani_flower_01.png), url(images/ani_flower_02.png);
    background-repeat: no-repeat;
    background-position: 0 5px, 670px 0;
}
#visual::after{
    background-image: url(images/ani_flower_03.png), url(images/ani_flower_04.png);
    background-repeat: no-repeat;
    background-position: 300px 35px, 800px 65px;
    animation-delay: 1s;
}

@keyframes flowerAni {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
    
}
/* 비주얼 영역 종료*/
/* 메인 컨텐츠 영역 시작 */
#contentsArea {
    min-height: 400px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 30px 0 30px 30px;
    /*overflow: hidden;*/
    display: flex;
    flex-flow: row wrap;
}
/* 메인 컨텐츠 영역 종료 */
/* 슬로건 영역 시작 */
#slogan {
    padding: 15px 0;
    position: relative;
}
#slogan > h2 {
    width: 110px;
    height: 90px;
    background: url(images/coffee.png) no-repeat;
    background-size: 110px 90px;
    text-indent: 110px;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: -25px;
    left: 30px;
}
#slogan > p {
    margin: 0 100px 0 200px;
    color: #a09784;
    font-size: 1.1em;
}
#slogan q {
    font-weight: bold;
}
#slogan q::before {
    font-size: 3em;
    color: #765725;
    position: relative;
    top: 15px;
    left: -5px;
}
#slogan q::after {
    content: "";
}
/* 슬로건 영역 종료 */
/* 푸터 영역 시작 */
#footer {
    padding: 15px 0;
    background-image: linear-gradient(to bottom, #c7c7c7 0%, #fff 70%, #fff 100%);
}
#footer_inner {
    position: relative;
}
.footer_logo {
    position: absolute;
    left: 35px;
    top: 45px;
}
.guide, address, .copyright {
    margin-left: 200px;
    margin-right: 100px;
}
.guide {
    background: #7b8385;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.guide li {
    display: inline-block;
}
.guide a {
    display: inline-block;
    color: #fff;
    padding: 10px 15px 10px 0;
}
.guide a::before {
    content: "|";
    padding-right: 20px;
}
.guide li:first-child a::before {
    content: "";
}
address {
    font-style: normal;
    margin-bottom: 5px;
}
address > span {
    margin-right: 10px;
}
.tech_logo_area {
    position: absolute;
    top: 0;
    right: 0;
}
/* 푸터 영역 종료 */